/* navigation menu */
#navbar{
  
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 5px;
    position: sticky;
}

#navbar ul li a{
    padding: 3px 5px;
    font-size: 1rem;
}
/* home section */
#home{
    height:400px;
    padding: 20px;
    margin: 10px;
}
#home::before{
    height: 600px;
}

.h-primary {
    color: black;
    padding-top: 100px;
    font-size: 35px;
}

#home p{
    font-size: 13px;
}

.btn{
    font-size: 13px;
    padding: 3px 6px;
}
/* services section */
#services{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/* #services .box{
    margin: 10px;
} */
.box img{
    height: 50px;
    width: 150px;
} 

/* client section */
/* #clients img{
    width: auto;
    height:auto;
} */

/* contact section */
#contact  {
    text-align: center;
    margin: auto;
}
#contact form{
    width: 80%;
}
#message{
    width: auto;
}
